<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.FieldSynInfoMapper">
  <resultMap id="BaseResultMap" type="mybatis.model.FieldSynInfo">
    <id column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <id column="FIELD_NAME" jdbcType="VARCHAR" property="fieldName" />
    <id column="FIELD_VALUE" jdbcType="VARCHAR" property="fieldValue" />
    <result column="TABLE_STAT" jdbcType="CHAR" property="tableStat" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TABLE_NAME, FIELD_NAME, FIELD_VALUE, TABLE_STAT
  </sql>
  <select id="selectByExample" parameterType="mybatis.model.FieldSynInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from NEWHL.FIELD_SYN_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="mybatis.model.FieldSynInfoKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from NEWHL.FIELD_SYN_INFO
    where TABLE_NAME = #{tableName,jdbcType=VARCHAR}
      and FIELD_NAME = #{fieldName,jdbcType=VARCHAR}
      and FIELD_VALUE = #{fieldValue,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="mybatis.model.FieldSynInfoKey">
    delete from NEWHL.FIELD_SYN_INFO
    where TABLE_NAME = #{tableName,jdbcType=VARCHAR}
      and FIELD_NAME = #{fieldName,jdbcType=VARCHAR}
      and FIELD_VALUE = #{fieldValue,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="mybatis.model.FieldSynInfoExample">
    delete from NEWHL.FIELD_SYN_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mybatis.model.FieldSynInfo">
    insert into NEWHL.FIELD_SYN_INFO (TABLE_NAME, FIELD_NAME, FIELD_VALUE, 
      TABLE_STAT)
    values (#{tableName,jdbcType=VARCHAR}, #{fieldName,jdbcType=VARCHAR}, #{fieldValue,jdbcType=VARCHAR}, 
      #{tableStat,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="mybatis.model.FieldSynInfo">
    insert into NEWHL.FIELD_SYN_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableName != null">
        TABLE_NAME,
      </if>
      <if test="fieldName != null">
        FIELD_NAME,
      </if>
      <if test="fieldValue != null">
        FIELD_VALUE,
      </if>
      <if test="tableStat != null">
        TABLE_STAT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldValue != null">
        #{fieldValue,jdbcType=VARCHAR},
      </if>
      <if test="tableStat != null">
        #{tableStat,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mybatis.model.FieldSynInfoExample" resultType="java.lang.Long">
    select count(*) from NEWHL.FIELD_SYN_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update NEWHL.FIELD_SYN_INFO
    <set>
      <if test="record.tableName != null">
        TABLE_NAME = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldName != null">
        FIELD_NAME = #{record.fieldName,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldValue != null">
        FIELD_VALUE = #{record.fieldValue,jdbcType=VARCHAR},
      </if>
      <if test="record.tableStat != null">
        TABLE_STAT = #{record.tableStat,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update NEWHL.FIELD_SYN_INFO
    set TABLE_NAME = #{record.tableName,jdbcType=VARCHAR},
      FIELD_NAME = #{record.fieldName,jdbcType=VARCHAR},
      FIELD_VALUE = #{record.fieldValue,jdbcType=VARCHAR},
      TABLE_STAT = #{record.tableStat,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mybatis.model.FieldSynInfo">
    update NEWHL.FIELD_SYN_INFO
    <set>
      <if test="tableStat != null">
        TABLE_STAT = #{tableStat,jdbcType=CHAR},
      </if>
    </set>
    where TABLE_NAME = #{tableName,jdbcType=VARCHAR}
      and FIELD_NAME = #{fieldName,jdbcType=VARCHAR}
      and FIELD_VALUE = #{fieldValue,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mybatis.model.FieldSynInfo">
    update NEWHL.FIELD_SYN_INFO
    set TABLE_STAT = #{tableStat,jdbcType=CHAR}
    where TABLE_NAME = #{tableName,jdbcType=VARCHAR}
      and FIELD_NAME = #{fieldName,jdbcType=VARCHAR}
      and FIELD_VALUE = #{fieldValue,jdbcType=VARCHAR}
  </update>
</mapper>