<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.RecvAcctInfoMapper">
  <resultMap id="BaseResultMap" type="mybatis.model.RecvAcctInfo">
    <result column="CUST_ID" jdbcType="CHAR" property="custId" />
    <result column="MER_ID" jdbcType="CHAR" property="merId" />
    <result column="MER_USR_ID" jdbcType="VARCHAR" property="merUsrId" />
    <result column="ACCT_ALIAS" jdbcType="VARCHAR" property="acctAlias" />
    <result column="ACCT_STATUS" jdbcType="CHAR" property="acctStatus" />
    <result column="LAST_UPD_DATE" jdbcType="CHAR" property="lastUpdDate" />
    <result column="LAST_DAY_BAL" jdbcType="DECIMAL" property="lastDayBal" />
    <result column="LIQ_BAL" jdbcType="DECIMAL" property="liqBal" />
    <result column="ACCT_BAL" jdbcType="DECIMAL" property="acctBal" />
    <result column="AVL_BAL" jdbcType="DECIMAL" property="avlBal" />
    <result column="SEP_BAL" jdbcType="DECIMAL" property="sepBal" />
    <result column="FRZ_BAL" jdbcType="DECIMAL" property="frzBal" />
    <result column="TMP_BAL" jdbcType="DECIMAL" property="tmpBal" />
    <result column="TRF_BAL" jdbcType="DECIMAL" property="trfBal" />
    <result column="AUTO_TRF_MODE" jdbcType="CHAR" property="autoTrfMode" />
    <result column="HOLD_AMT" jdbcType="DECIMAL" property="holdAmt" />
    <result column="OPEN_DATE" jdbcType="CHAR" property="openDate" />
    <result column="OPEN_TIME" jdbcType="CHAR" property="openTime" />
    <result column="DEP_BAL" jdbcType="DECIMAL" property="depBal" />
    <result column="CASH_LIMIT" jdbcType="DECIMAL" property="cashLimit" />
    <result column="LAST_AVL_BAL" jdbcType="DECIMAL" property="lastAvlBal" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CUST_ID, MER_ID, MER_USR_ID, ACCT_ALIAS, ACCT_STATUS, LAST_UPD_DATE, LAST_DAY_BAL, 
    LIQ_BAL, ACCT_BAL, AVL_BAL, SEP_BAL, FRZ_BAL, TMP_BAL, TRF_BAL, AUTO_TRF_MODE, HOLD_AMT, 
    OPEN_DATE, OPEN_TIME, DEP_BAL, CASH_LIMIT, LAST_AVL_BAL
  </sql>
  <select id="selectByExample" parameterType="mybatis.model.RecvAcctInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from GADBUSR.RECV_ACCT_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="mybatis.model.RecvAcctInfoExample">
    delete from GADBUSR.RECV_ACCT_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mybatis.model.RecvAcctInfo">
    insert into GADBUSR.RECV_ACCT_INFO (CUST_ID, MER_ID, MER_USR_ID, 
      ACCT_ALIAS, ACCT_STATUS, LAST_UPD_DATE, 
      LAST_DAY_BAL, LIQ_BAL, ACCT_BAL, 
      AVL_BAL, SEP_BAL, FRZ_BAL, 
      TMP_BAL, TRF_BAL, AUTO_TRF_MODE, 
      HOLD_AMT, OPEN_DATE, OPEN_TIME, 
      DEP_BAL, CASH_LIMIT, LAST_AVL_BAL
      )
    values (#{custId,jdbcType=CHAR}, #{merId,jdbcType=CHAR}, #{merUsrId,jdbcType=VARCHAR}, 
      #{acctAlias,jdbcType=VARCHAR}, #{acctStatus,jdbcType=CHAR}, #{lastUpdDate,jdbcType=CHAR}, 
      #{lastDayBal,jdbcType=DECIMAL}, #{liqBal,jdbcType=DECIMAL}, #{acctBal,jdbcType=DECIMAL}, 
      #{avlBal,jdbcType=DECIMAL}, #{sepBal,jdbcType=DECIMAL}, #{frzBal,jdbcType=DECIMAL}, 
      #{tmpBal,jdbcType=DECIMAL}, #{trfBal,jdbcType=DECIMAL}, #{autoTrfMode,jdbcType=CHAR}, 
      #{holdAmt,jdbcType=DECIMAL}, #{openDate,jdbcType=CHAR}, #{openTime,jdbcType=CHAR}, 
      #{depBal,jdbcType=DECIMAL}, #{cashLimit,jdbcType=DECIMAL}, #{lastAvlBal,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="mybatis.model.RecvAcctInfo">
    insert into GADBUSR.RECV_ACCT_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="custId != null">
        CUST_ID,
      </if>
      <if test="merId != null">
        MER_ID,
      </if>
      <if test="merUsrId != null">
        MER_USR_ID,
      </if>
      <if test="acctAlias != null">
        ACCT_ALIAS,
      </if>
      <if test="acctStatus != null">
        ACCT_STATUS,
      </if>
      <if test="lastUpdDate != null">
        LAST_UPD_DATE,
      </if>
      <if test="lastDayBal != null">
        LAST_DAY_BAL,
      </if>
      <if test="liqBal != null">
        LIQ_BAL,
      </if>
      <if test="acctBal != null">
        ACCT_BAL,
      </if>
      <if test="avlBal != null">
        AVL_BAL,
      </if>
      <if test="sepBal != null">
        SEP_BAL,
      </if>
      <if test="frzBal != null">
        FRZ_BAL,
      </if>
      <if test="tmpBal != null">
        TMP_BAL,
      </if>
      <if test="trfBal != null">
        TRF_BAL,
      </if>
      <if test="autoTrfMode != null">
        AUTO_TRF_MODE,
      </if>
      <if test="holdAmt != null">
        HOLD_AMT,
      </if>
      <if test="openDate != null">
        OPEN_DATE,
      </if>
      <if test="openTime != null">
        OPEN_TIME,
      </if>
      <if test="depBal != null">
        DEP_BAL,
      </if>
      <if test="cashLimit != null">
        CASH_LIMIT,
      </if>
      <if test="lastAvlBal != null">
        LAST_AVL_BAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="custId != null">
        #{custId,jdbcType=CHAR},
      </if>
      <if test="merId != null">
        #{merId,jdbcType=CHAR},
      </if>
      <if test="merUsrId != null">
        #{merUsrId,jdbcType=VARCHAR},
      </if>
      <if test="acctAlias != null">
        #{acctAlias,jdbcType=VARCHAR},
      </if>
      <if test="acctStatus != null">
        #{acctStatus,jdbcType=CHAR},
      </if>
      <if test="lastUpdDate != null">
        #{lastUpdDate,jdbcType=CHAR},
      </if>
      <if test="lastDayBal != null">
        #{lastDayBal,jdbcType=DECIMAL},
      </if>
      <if test="liqBal != null">
        #{liqBal,jdbcType=DECIMAL},
      </if>
      <if test="acctBal != null">
        #{acctBal,jdbcType=DECIMAL},
      </if>
      <if test="avlBal != null">
        #{avlBal,jdbcType=DECIMAL},
      </if>
      <if test="sepBal != null">
        #{sepBal,jdbcType=DECIMAL},
      </if>
      <if test="frzBal != null">
        #{frzBal,jdbcType=DECIMAL},
      </if>
      <if test="tmpBal != null">
        #{tmpBal,jdbcType=DECIMAL},
      </if>
      <if test="trfBal != null">
        #{trfBal,jdbcType=DECIMAL},
      </if>
      <if test="autoTrfMode != null">
        #{autoTrfMode,jdbcType=CHAR},
      </if>
      <if test="holdAmt != null">
        #{holdAmt,jdbcType=DECIMAL},
      </if>
      <if test="openDate != null">
        #{openDate,jdbcType=CHAR},
      </if>
      <if test="openTime != null">
        #{openTime,jdbcType=CHAR},
      </if>
      <if test="depBal != null">
        #{depBal,jdbcType=DECIMAL},
      </if>
      <if test="cashLimit != null">
        #{cashLimit,jdbcType=DECIMAL},
      </if>
      <if test="lastAvlBal != null">
        #{lastAvlBal,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mybatis.model.RecvAcctInfoExample" resultType="java.lang.Long">
    select count(*) from GADBUSR.RECV_ACCT_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update GADBUSR.RECV_ACCT_INFO
    <set>
      <if test="record.custId != null">
        CUST_ID = #{record.custId,jdbcType=CHAR},
      </if>
      <if test="record.merId != null">
        MER_ID = #{record.merId,jdbcType=CHAR},
      </if>
      <if test="record.merUsrId != null">
        MER_USR_ID = #{record.merUsrId,jdbcType=VARCHAR},
      </if>
      <if test="record.acctAlias != null">
        ACCT_ALIAS = #{record.acctAlias,jdbcType=VARCHAR},
      </if>
      <if test="record.acctStatus != null">
        ACCT_STATUS = #{record.acctStatus,jdbcType=CHAR},
      </if>
      <if test="record.lastUpdDate != null">
        LAST_UPD_DATE = #{record.lastUpdDate,jdbcType=CHAR},
      </if>
      <if test="record.lastDayBal != null">
        LAST_DAY_BAL = #{record.lastDayBal,jdbcType=DECIMAL},
      </if>
      <if test="record.liqBal != null">
        LIQ_BAL = #{record.liqBal,jdbcType=DECIMAL},
      </if>
      <if test="record.acctBal != null">
        ACCT_BAL = #{record.acctBal,jdbcType=DECIMAL},
      </if>
      <if test="record.avlBal != null">
        AVL_BAL = #{record.avlBal,jdbcType=DECIMAL},
      </if>
      <if test="record.sepBal != null">
        SEP_BAL = #{record.sepBal,jdbcType=DECIMAL},
      </if>
      <if test="record.frzBal != null">
        FRZ_BAL = #{record.frzBal,jdbcType=DECIMAL},
      </if>
      <if test="record.tmpBal != null">
        TMP_BAL = #{record.tmpBal,jdbcType=DECIMAL},
      </if>
      <if test="record.trfBal != null">
        TRF_BAL = #{record.trfBal,jdbcType=DECIMAL},
      </if>
      <if test="record.autoTrfMode != null">
        AUTO_TRF_MODE = #{record.autoTrfMode,jdbcType=CHAR},
      </if>
      <if test="record.holdAmt != null">
        HOLD_AMT = #{record.holdAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.openDate != null">
        OPEN_DATE = #{record.openDate,jdbcType=CHAR},
      </if>
      <if test="record.openTime != null">
        OPEN_TIME = #{record.openTime,jdbcType=CHAR},
      </if>
      <if test="record.depBal != null">
        DEP_BAL = #{record.depBal,jdbcType=DECIMAL},
      </if>
      <if test="record.cashLimit != null">
        CASH_LIMIT = #{record.cashLimit,jdbcType=DECIMAL},
      </if>
      <if test="record.lastAvlBal != null">
        LAST_AVL_BAL = #{record.lastAvlBal,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update GADBUSR.RECV_ACCT_INFO
    set CUST_ID = #{record.custId,jdbcType=CHAR},
      MER_ID = #{record.merId,jdbcType=CHAR},
      MER_USR_ID = #{record.merUsrId,jdbcType=VARCHAR},
      ACCT_ALIAS = #{record.acctAlias,jdbcType=VARCHAR},
      ACCT_STATUS = #{record.acctStatus,jdbcType=CHAR},
      LAST_UPD_DATE = #{record.lastUpdDate,jdbcType=CHAR},
      LAST_DAY_BAL = #{record.lastDayBal,jdbcType=DECIMAL},
      LIQ_BAL = #{record.liqBal,jdbcType=DECIMAL},
      ACCT_BAL = #{record.acctBal,jdbcType=DECIMAL},
      AVL_BAL = #{record.avlBal,jdbcType=DECIMAL},
      SEP_BAL = #{record.sepBal,jdbcType=DECIMAL},
      FRZ_BAL = #{record.frzBal,jdbcType=DECIMAL},
      TMP_BAL = #{record.tmpBal,jdbcType=DECIMAL},
      TRF_BAL = #{record.trfBal,jdbcType=DECIMAL},
      AUTO_TRF_MODE = #{record.autoTrfMode,jdbcType=CHAR},
      HOLD_AMT = #{record.holdAmt,jdbcType=DECIMAL},
      OPEN_DATE = #{record.openDate,jdbcType=CHAR},
      OPEN_TIME = #{record.openTime,jdbcType=CHAR},
      DEP_BAL = #{record.depBal,jdbcType=DECIMAL},
      CASH_LIMIT = #{record.cashLimit,jdbcType=DECIMAL},
      LAST_AVL_BAL = #{record.lastAvlBal,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>